

.app-header {
  color: white;
  font-size: x-large;
}
.app-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.grid-container {

}
.text-area {
  min-width: 25%;
}
